// IMPORTS
@use 'variables';
@use 'overrides';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// RESETS
#app {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: variables.$primary-color;
  &:hover {
    color: variables.$secondary-color;
  }
}

* {font-family: 'Montserrat', sans-serif;}
