// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'variables.scss';
@import 'overrides.scss';

// RESETS
#app {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {font-family: 'Montserrat', sans-serif;}
